.header {
  text-align: center;
  
  
}
.para {
  background-color: chocolate;
  width: 850px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  color: white;
}
.logo {
  margin-right: 180px;
  margin-top: 20px;
}
